<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}IMDB{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="https://seeklogo.com/images/I/imdb-logo-28EF22B800-seeklogo.com.png" />

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ asset('materialize/css/materialize.min.css') }}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('custom.css') }}"  media="screen,projection"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
      <nav class="teal lighten-1">
        <div class="nav-wrapper">
          <a href="{{ path('homepage') }}" class="brand-logo"> <img src="https://seeklogo.com/images/I/imdb-logo-28EF22B800-seeklogo.com.png" alt="" style="width: 50%!important;height: 100%!important;margin-top: 6px!important;"> </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- <li><a style="color:#fff!important;" href="{{ path('administration') }}">Administration des films</a></li> -->
          </ul>
        </div>
      </nav>
        {% block body %}{% endblock %}
        <footer class="page-footer teal lighten-1">
          <div class="footer-copyright">
            <div class="container">
            <p class="grey-text text-lighten-4 left">© 2018 Copyright | Tous droits réservés</p>
            <p class="grey-text text-lighten-4 right">Guillaume CURIEL</p>
            </div>
          </div>
        </footer>
        {% block javascripts %}
        <script src="{{ asset('jquery-3.3.1.min.js') }}"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="{{ asset('materialize/js/materialize.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
