{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
    <h3 class="center-align">Ajouter un film</h3>
      <form class="formulaireAdd" action="{{ path('ajouter') }}" method="post">
        <div class="row">
          <div class="input-field col s12">
            <input id="title" name="title" type="text" class="validate" required>
            <label for="title">Titre *</label>
          </div>
        </div>
        <p class="range-field">
          <label for="annee">Année de sortie</label>
          <input type="range" id="annee" name="annee" min="1800" max="2018" />
        </p>
        <div class="row">
          <div class="input-field col s12">
            <input id="idImdb" name="idImdb" type="number" min=0 class="validate">
            <label for="idImdb">Id IMDB</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="link" name="link" type="text" class="validate" required>
            <label for="link">Lien du film *</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="score" name="score" type="number" min=0 max=10 step="0.1" class="validate">
            <label for="score">Score sur 10</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="genre" name="genre" type="text" class="validate" required>
            <label for="genre">Genre *</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="img" name="img" type="text" class="validate" required>
            <label for="img">Url image *</label>
          </div>
        </div>
        <button type="submit" name="submit" value="submit" class="btn btn-primary">Ajouter</button>
      </form>
  </div>
</div>

{% endblock %}
