{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
    <h3 class="center-align">Administration des films</h3>

    <table id="table" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Id IMDB</th>
          <th>Titre</th>
          <th>Lien</th>
          <th>Score</th>
          <th>Genre</th>
        </tr>
        </thead>
        <tbody>
          {% for movie in movies %}
              <tr>
                <td>{{ movie.imdbId }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.link }}</td>
                <td>{{ movie.score }}</td>
                <td>{{ movie.genre }}</td>
              </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>


<script src="{{ asset('jquery-3.3.1.min.js') }}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $('#table').DataTable();
    });
</script>
{% endblock %}
