{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
    <h3 class="center-align teal-text lighten-1">Liste des films <a href="{{ path('ajouter') }}" class="tooltipped" data-position="right" data-tooltip="Ajouter un film"><i class="material-icons small teal-text lighten-1">add_circle_outline</i></a></h3>
    <nav>
       <div class="nav-wrapper white">
         <form method="post" action="{{ path('homepage') }}">
           <div class="input-field">
             <input id="search" type="search" required name="search" value="" placeholder="{% if search != '' %}{{ search }}{% else %}Rechercher un film{% endif %}">
             <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
           </div>
         </form>
       </div>
     </nav>

     <!-- <a href="{{ path('sort', {'mess': 'ASC' }) }}">Trier par ordre alphabetique</a>&nbsp&nbsp&nbsp|&nbsp&nbsp
     <a href="{{ path('sort', {'mess': 'DESC' }) }}">Trier par ordre alphabetique inverse</a> -->

      {% if search != '' %}
        <div class="col s12 right-align">
          <a href="{{ path('homepage') }}">Réinitialiser la recherche</a>
        </div>
      {% endif %}
  </div>
</div>


<div class="row">
{% for movie in pagination %}
<div class="card col s3">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ movie.img }}">
    </div>
    <div class="card-content">
      <span class="card-title activator teal-text lighten-1">{{ movie.title }}<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title teal-text lighten-1">{{ movie.title }}<i class="material-icons right">close</i></span>
      <p class="col s12 center-align"><img src="{{ movie.img }}" alt="" style="width:40%!important;margin:auto!important;height:180px!important;"></p>
      <p><b>Genre : </b> {{ movie.genre }} </p>
      <p><b>Note IMDB :</b> {{ movie.score }}/10</p>
      <p><b>Lien : </b> <a target="_blank" href="{{ movie.link }}">{{ movie.link }}</a></p>
      <div class="row">
        <p class="col s6"> <a href="{{ path('update', {'id': movie.id }) }}" class="btn teal lighten-1 white-text">Modifier</a> </p>
        <p class="col s6"><a class="waves-effect waves-light btn modal-trigger white-text" href="#modal-{{ loop.index }}">Supprimer</a></p>
      </div>
    </div>
  </div>
  <div id="modal-{{ loop.index }}" class="modal">
    <div class="modal-content">
      <h4>Supprimer le film : {{ movie.title }}</h4>
      <p>Êtes-vous sûre de vouloir supprimer ce film ?</p>
    </div>
    <div class="modal-footer">
      <form class="" action="{{ path('delete', {'id': movie.id }) }}" method="post">
        <button class="modal-close waves-effect waves-green btn-flat teal-text lighten-1" type="submit" name="submitdelete" value="submitdelete">Oui</button>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Non</a>
      </form>
    </div>
  </div>
{% endfor %}
</div>

<div class="navigation center-align" style="font-size:20px;">
    {{ knp_pagination_render(pagination) }}
</div>

<script src="{{ asset('jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $('select').formSelect();
      $('.tooltipped').tooltip();
      $('.modal').modal();
    });
</script>
{% endblock %}
