{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
    <h3 class="center-align">Modifier un film</h3>
      <form class="formulaireAdd" action="{{ path('update', {'id': movie.id }) }}" method="post">
        <div class="row">
          <div class="input-field col s12">
            <input id="title" name="title" type="text" class="validate" required value="{{ movie.title }}">
            <label for="title">Titre *</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="idImdb" name="idImdb" type="number" min=0 class="validate" value="{{ movie.imdbId }}">
            <label for="idImdb">Id IMDB</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="link" name="link" type="text" class="validate" required value="{{ movie.link }}">
            <label for="link">Lien du film *</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="score" name="score" type="number" min=0 max=10 step="0.1" class="validate" value="{{ movie.score }}">
            <label for="score">Score sur 10</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="genre" name="genre" type="text" class="validate" required value="{{ movie.genre }}">
            <label for="genre">Genre *</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="img" name="img" type="text" class="validate" required value="{{ movie.img }}">
            <label for="img">Url image *</label>
          </div>
        </div>
        <button type="submit" name="submit" value="submit" class="btn btn-primary">Modifer</button>
      </form>
  </div>
</div>

{% endblock %}
