.card{
  min-height:550px!important;
}

img{
  width: 60%!important;
  margin:auto!important;
  height: 350px;
}

.material-tooltip{
  top:100px!important;
}

.formulaireAdd{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
}

a{
  color: #26a69a!important;
}
